<div>
  Turn: {{bc.getTurn()}}
</div>
<div class="row" ng-repeat="row in bc.board track by $index">
  <div
    class="square"
    ng-click="bc.click($parent.$index, $index)"
    ng-repeat="square in row track by $index">
    <div
      class="piece {{square.color}}"
      ng-if="square.rank"
      ng-class="{selected: square.selected}">
      {{square.rank}} {{square.side}}
    </div>
  </div>
</div>
<button ng-click="bc.drawFromBag()">bag</button>
<button ng-click="bc.endTurn()">end turn</button>
